In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sml
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms

In [4]:
# get full data set 

# inflation (2011 - Mar 2025)
inflation_data = pd.read_csv('./yoy_inflation_till_March_2025.csv')
inflation_data.head()

     Month  Year-on-Year Change (%)
0  Jan '11                12.079665
1  Feb '11                11.099837
2  Mar '11                12.779128
3  Apr '11                11.291282
4  May '11                12.352128

In [ ]:
# get rescaled trends dataset

## Baseline Model