In [1]:
import os 

# data and compute libraries
import pandas as pd

# graphing libraries
import matplotlib.pyplot as plt

# other visuals
import squarify

# libraries for printing markdown tables

# mapping libraries

In [2]:
# # import function definitions from other notebook
# import ipynb

# # full import (full notebook import)
# from ipynb.fs.full.another_notebook import your_function

# # function definition import
# from ipynb.fs.defs.another_notebook import your_function

## Google Trends Data Collation

In [26]:
# fetch each of the trends data from the multiLine.csv files in each folder of keywords in the trends_data folder

# function to get each of the multiLine.csv in each folder in trends_data
def get_datafile_paths(file_name):
    """
    Gets the paths of the multiLine.csv files in each folder of keywords in the trends_data folder.
    """
    # get the list of all folders in the trends_data folder
    folders = os.listdir('trends_data')
    
    # create a list to store the paths of the multiLine.csv files
    datafile_paths = []
    
    # iterate through each folder
    for folder in folders:
        # get the path of the multiLine.csv file in the folder
        datafile_path = os.path.join('trends_data', folder, f'{file_name}.csv')
        
        # append the path to the list
        datafile_paths.append(datafile_path)
    
    # return the list of paths
    return datafile_paths


# function to fetch trends data
def fetch_trends_data(file_path):
    """
    Fetches the trends data from the multiLine.csv files in each folder of keywords in the trends_data folder.
    """
    # read the csv file into a pandas dataframe
    df = pd.read_csv(file_path, skiprows=2)
    
    # return the dataframe
    return df


# function to merge n dataframes from the list of dataframes
def merge_dataframes(dataframes, csv_save_name, merge_column):
    """
    Merges n dataframes from the list of dataframes.
    """
    
    # merge the dataframes on the Month column
    merged_df = dataframes[0]
    # print(merged_df)
    
    for df in dataframes[1:]:
        
        merged_df = pd.merge(merged_df, df, on=f'{merge_column}')

        # rename the columns to be just the keyword by removing the colon and "(Nigeria)"
        merged_df.columns = [col.split(':')[0].strip() if ':' in col else col for col in merged_df.columns]

    # print the merged dataframe
    display(merged_df)

    # data cleaning 
    # if  '<1' convert to 0.5
    merged_df.replace('<1', 0.5, inplace=True)
    # if  'NaN' convert to 0
    merged_df.replace('NaN', 0, inplace=True)
    # if  'NaN' convert to 0
    merged_df.replace('nan', 0, inplace=True)

    # save merged dataframe to csv
    merged_df.to_csv(f'{csv_save_name}.csv', index=False)
    
    # return the merged dataframe
    return merged_df


# function to create combined dataframes and save to csv based on case
def create_combined_dataframes(file_name, csv_save_name, merge_column):
    """
    Creates combined dataframes and saves to csv based on case.
    """
    # get the paths of the multiLine.csv files in each folder of keywords in the trends_data folder
    datafile_paths = get_datafile_paths(file_name)
    # create a list to store the dataframes
    dataframes = []
    # iterate through each path
    for path in datafile_paths:
        # fetch the trends data from the csv file
        df = fetch_trends_data(path)
        # append the dataframe to the list
        dataframes.append(df)

    # merge the dataframes
    merged_df = merge_dataframes(dataframes, csv_save_name, merge_column)

In [27]:
create_combined_dataframes('multiTimeline', 'combined_trends_data_2011_2024', 'Month')

,Month,Leisure,Liquid,Rent,Price,Kerosene heater,Public health,Mixture,Gas cylinder,Filling station,...,Cost of living,Samsung,cheap,Health insurance,Tuition payments,Shoes,Budget,Mental health,Soup,Emergency telephone number
0,2011-01,0,51,99,37,0,100,32,0,22,...,0,51,99,23,68,86,61,37,19,0
1,2011-02,43,63,90,35,0,76,29,0,17,...,92,51,95,19,55,86,70,36,17,0
2,2011-03,24,56,96,35,0,81,36,0,0,...,46,52,97,32,54,87,63,31,18,0
3,2011-04,23,50,91,36,0,86,30,0,22,...,55,54,98,25,47,88,48,20,19,0
4,2011-05,34,62,96,36,0,80,31,0,26,...,60,55,92,25,48,97,57,30,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2024-08,23,62,83,89,0,49,48,72,100,...,52,97,53,9,89,57,21,53,67,52
164,2024-09,29,67,80,100,0,47,53,72,84,...,53,94,46,8,88,55,20,53,63,48
165,2024-10,30,66,77,89,0,48,74,73,75,...,57,91,45,9,93,57,19,78,63,57
166,2024-11,29,72,75,96,0,50,72,69,68,...,52,95,46,9,90,65,24,59,70,51
167,2024-12,15,58,75,93,0,41,49,63,72,...,44,100,48,8,74,71,27,48,56,50

In [28]:
create_combined_dataframes('multiTimeline (1)', 'combined_trends_data_2011_2025', 'Month')

,Month,Leisure,Liquid,Rent,Price,Kerosene heater,Public health,Mixture,Gas cylinder,Filling station,...,Cost of living,Samsung,cheap,Health insurance,Tuition payments,Shoes,Budget,Mental health,Soup,Emergency telephone number
0,2011-01,0,51,99,37,0,100,32,0,22,...,0,49,99,23,61,86,63,37,19,0
1,2011-02,43,63,90,35,0,76,29,0,17,...,92,49,95,19,49,86,71,36,17,0
2,2011-03,24,56,96,35,0,81,36,0,0,...,46,50,97,32,48,87,66,31,18,0
3,2011-04,23,50,91,36,0,86,30,0,22,...,55,52,98,25,43,88,52,20,19,0
4,2011-05,34,62,96,36,0,80,31,0,26,...,60,53,92,25,44,97,59,30,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2024-11,29,72,75,96,0,50,72,61,68,...,52,91,46,9,81,65,26,59,70,51
167,2024-12,15,58,75,93,0,41,49,56,72,...,44,96,48,8,67,71,29,48,56,50
168,2025-01,31,74,84,91,36,52,71,100,76,...,54,100,49,9,100,58,28,57,58,62
169,2025-02,27,76,78,93,37,56,71,69,81,...,58,89,56,8,84,60,28,59,59,63
170,2025-03,22,91,82,93,0,46,68,68,86,...,60,98,54,9,58,63,26,55,59,59

In [30]:
create_combined_dataframes('geoMap', 'combined_trends_data_geo', 'Region')

,Region,Leisure,Liquid,Rent,Price,Kerosene heater,Public health,Mixture,Gas cylinder,Filling station,...,Cost of living,Samsung,cheap,Health insurance,Tuition payments,Shoes,Budget,Mental health,Soup,Emergency telephone number
0,Delta,100,80,41,75,46.0,20,58,67,44,...,82.0,57,79,24,53,70,40,42,97,44.0
1,Osun,98,92,51,84,NaN,65,90,74,94,...,83.0,55,72,23,92,78,52,82,52,55.0
2,Ogun State,96,94,86,97,46.0,38,87,81,95,...,90.0,64,89,20,82,87,55,78,65,94.0
3,Imo,96,86,42,81,64.0,53,74,86,57,...,77.0,65,93,24,51,62,41,64,95,52.0
4,Ekiti,92,85,51,76,NaN,46,100,80,100,...,80.0,60,65,20,77,75,56,79,46,76.0
5,Abia,91,86,29,84,NaN,49,89,85,43,...,79.0,63,83,31,54,72,41,62,100,53.0
6,Anambra,89,86,34,83,85.0,25,75,77,46,...,69.0,67,74,23,45,59,40,53,90,60.0
7,Niger,86,93,34,87,NaN,57,90,77,43,...,52.0,72,53,25,57,57,70,64,52,50.0
8,Edo,84,77,36,70,46.0,21,61,55,43,...,67.0,52,67,23,47,66,38,50,85,58.0
9,Oyo,84,83,100,94,67.0,52,78,85,99,...,100.0,62,97,22,100,85,59,100,57,69.0
10,Enugu,79,96,46,83,57.0,45,92,70,49,...,88.0,56,87,32,49,67,58,86,81,58.0
11,Kogi,78,80,40,82,NaN,31,65,73,60,...,60.0,50,59,25,57,55,63,52,51,57.0
12,Akwa Ibom,77,84,45,88,NaN,39,86,100,51,...,91.0,53,71,31,46,75,61,80,84,58.0
13,Kwara,77,99,52,90,100.0,65,90,84,77,...,78.0,67,78,21,78,73,67,78,49,56.0
14,Kaduna,77,90,32,95,NaN,38,76,65,36,...,62.0,69,61,27,54,84,76,63,52,59.0
15,Lagos,77,61,68,52,32.0,20,54,39,45,...,56.0,42,62,24,40,73,44,36,52,46.0
16,Cross River,76,74,29,72,NaN,49,79,66,43,...,65.0,50,72,25,46,67,58,80,73,46.0
17,Nasarawa,76,70,49,86,89.0,47,70,72,40,...,68.0,63,80,27,54,70,67,63,67,63.0
18,Bayelsa,75,84,35,86,NaN,43,85,88,47,...,91.0,61,68,35,50,67,60,74,78,32.0
19,Bauchi,75,78,59,81,NaN,85,69,53,34,...,41.0,67,42,21,47,50,92,61,33,57.0
20,Ebonyi,74,100,34,80,NaN,49,93,87,47,...,73.0,57,73,27,49,51,64,84,79,63.0
21,Taraba,68,75,20,72,NaN,100,78,51,37,...,41.0,57,39,22,40,43,75,76,40,NaN
22,Ondo,68,82,52,91,NaN,45,91,84,91,...,93.0,65,100,23,98,75,50,70,55,100.0
23,Kano,66,65,23,100,NaN,47,60,49,35,...,56.0,86,50,21,44,69,61,58,32,53.0
24,Plateau,64,73,32,87,NaN,52,72,80,32,...,74.0,64,58,32,51,100,79,87,59,50.0
25,Jigawa,63,72,16,80,NaN,93,73,44,28,...,49.0,69,38,26,47,38,87,69,25,NaN
26,Federal Capital Territory,61,55,53,53,32.0,32,50,39,37,...,55.0,41,63,26,39,69,60,43,52,36.0
27,Rivers,61,70,41,66,53.0,24,55,59,42,...,54.0,51,60,22,37,64,41,48,71,43.0
28,Adamawa,60,73,25,93,NaN,54,62,59,25,...,59.0,71,45,22,45,59,91,77,34,42.0
29,Borno,60,72,23,96,NaN,54,63,60,27,...,48.0,100,39,26,32,52,94,96,31,45.0
30,Benue,58,84,25,73,NaN,44,76,67,37,...,66.0,41,50,25,60,52,62,67,50,36.0
31,Gombe,56,72,24,80,NaN,76,63,74,29,...,66.0,62,45,23,44,56,91,77,33,58.0
32,Katsina,55,72,13,86,NaN,70,72,38,25,...,36.0,79,37,17,48,49,69,66,24,63.0
33,Zamfara,53,71,17,76,NaN,74,64,37,18,...,NaN,51,32,18,37,45,75,68,22,NaN
34,Kebbi,50,70,20,79,NaN,73,71,59,34,...,35.0,59,38,13,37,43,86,62,31,NaN
35,Yobe,43,71,46,91,NaN,82,62,51,29,...,43.0,75,54,100,37,41,100,71,22,89.0
36,Sokoto,34,79,21,76,NaN,59,83,44,29,...,36.0,61,41,16,41,52,85,82,33,43.0

## Rescaling the Trends Data including 2025 data

In [ ]:
# create function to rescale data in a dataframe from Jan 2025 to Mar 2025 by comparing the sum of values from Jan 2011 to Dec 2024 for each keyword and then rescale the values for Jan 2025 to Mar 2025 using the factor of the sums
# Jan 2011 to Dec 2024 is in the first dataframe
# Jan 2011 to Mar 2025 is in the second dataframe
# Comparison is done using all months from Jan 2011 to Dec 2024 in both dataframes
# The focus of rescale is the values from Jan 2025 to Mar 2025 in the second dataframe
# Save the rescaled dataframe to a csv file

def rescale_data(df1, df2, start_row, end_row, rescale_start_row, rescale_end_row):

    for col in df1.columns[1:]:
        # print the column name
        print(f'Column: {col}')
        sum_df1_2011_2024 = df1[(df1['Month'] >= '2011-01') & (df1['Month'] <= '2024-12')][col].sum()
        sum_df2_2011_2024 = df2[(df2['Month'] >= '2011-01') & (df2['Month'] <= '2024-12')][col].sum()
        # print(f'sum_df1_2011_2024: {sum_df1_2011_2024}')
        # print(f'sum_df2_2011_2024: {sum_df2_2011_2024}')

        # calculate the factor for rescaling
        factor = sum_df1_2011_2024 / sum_df2_2011_2024
        # print(f'factor: {factor}')

        # rescale the values in df2 using the factor
        df2[col] = df2[col].apply(lambda x: round(x * factor, 1))

    # save the rescaled dataframe to a csv file
    df2.to_csv('rescaled_combined_trends_data_2011_2025.csv', index=False)

In [49]:
# read the first dataframe
df1 = pd.read_csv('combined_trends_data_2011_2024.csv')

# read the second dataframe
df2 = pd.read_csv('combined_trends_data_2011_2025.csv')

#  call the rescale_data function to rescale the data
rescale_data(df1, df2, '2011-01', '2024-12', '2025-01', '2025-03')

Column: Leisure
sum_df1_2011_2024: 4476
sum_df2_2011_2024: 4476
factor: 1.0
Column: Liquid
sum_df1_2011_2024: 10976
sum_df2_2011_2024: 10976
factor: 1.0
Column: Rent
sum_df1_2011_2024: 10985
sum_df2_2011_2024: 10985
factor: 1.0
Column: Price
sum_df1_2011_2024: 9534
sum_df2_2011_2024: 9534
factor: 1.0
Column: Kerosene heater
sum_df1_2011_2024: 1548
sum_df2_2011_2024: 1548
factor: 1.0
Column: Public health
sum_df1_2011_2024: 6977
sum_df2_2011_2024: 6977
factor: 1.0
Column: Mixture
sum_df1_2011_2024: 9424
sum_df2_2011_2024: 9424
factor: 1.0
Column: Gas cylinder
sum_df1_2011_2024: 5186
sum_df2_2011_2024: 4610
factor: 1.124945770065076
Column: Filling station
sum_df1_2011_2024: 6648
sum_df2_2011_2024: 6648
factor: 1.0
Column: State of emergency
sum_df1_2011_2024: 469.5
sum_df2_2011_2024: 469.5
factor: 1.0
Column: Gasoline
sum_df1_2011_2024: 4898
sum_df2_2011_2024: 4898
factor: 1.0
Column: Pressure
sum_df1_2011_2024: 9702
sum_df2_2011_2024: 9702
factor: 1.0
Column: Petroleum industry
sum_df1_2011_2024: 3603
sum_df2_2011_2024: 3603
factor: 1.0
Column: Lagos
sum_df1_2011_2024: 11446
sum_df2_2011_2024: 11446
factor: 1.0
Column: Tecno
sum_df1_2011_2024: 4900
sum_df2_2011_2024: 4900
factor: 1.0
Column: Drug
sum_df1_2011_2024: 8530
sum_df2_2011_2024: 8530
factor: 1.0
Column: Flight
sum_df1_2011_2024: 9707
sum_df2_2011_2024: 9707
factor: 1.0
Column: Made In China
sum_df1_2011_2024: 2845
sum_df2_2011_2024: 2845
factor: 1.0
Column: Emergency management
sum_df1_2011_2024: 5587
sum_df2_2011_2024: 5587
factor: 1.0
Column: Cooking
sum_df1_2011_2024: 6150
sum_df2_2011_2024: 6150
factor: 1.0
Column: Management
sum_df1_2011_2024: 6861
sum_df2_2011_2024: 6861
factor: 1.0
Column: Gas
sum_df1_2011_2024: 7649
sum_df2_2011_2024: 7649
factor: 1.0
Column: Nigerian cuisine
sum_df1_2011_2024: 6087
sum_df2_2011_2024: 6087
factor: 1.0
Column: Hyperinflation
sum_df1_2011_2024: 579
sum_df2_2011_2024: 579
factor: 1.0
Column: Recreation
sum_df1_2011_2024: 9696
sum_df2_2011_2024: 9696
factor: 1.0
Column: Fare
sum_df1_2011_2024: 7725
sum_df2_2011_2024: 7725
factor: 1.0
Column: Meter
sum_df1_2011_2024: 6800
sum_df2_2011_2024: 6800
factor: 1.0
Column: Cost
sum_df1_2011_2024: 11896
sum_df2_2011_2024: 11896
factor: 1.0
Column: Import
sum_df1_2011_2024: 9218
sum_df2_2011_2024: 9218
factor: 1.0
Column: Personal identification number
sum_df1_2011_2024: 5751
sum_df2_2011_2024: 5751
factor: 1.0
Column: Natural environment
sum_df1_2011_2024: 7154.5
sum_df2_2011_2024: 7154.5
factor: 1.0
Column: Unemployment
sum_df1_2011_2024: 7424
sum_df2_2011_2024: 7424
factor: 1.0
Column: Natural gas
sum_df1_2011_2024: 4148
sum_df2_2011_2024: 4148
factor: 1.0
Column: Credit
sum_df1_2011_2024: 12611
sum_df2_2011_2024: 12611
factor: 1.0
Column: Printing
sum_df1_2011_2024: 5503
sum_df2_2011_2024: 5503
factor: 1.0
Column: Economics
sum_df1_2011_2024: 5533
sum_df2_2011_2024: 5533
factor: 1.0
Column: Recipe
sum_df1_2011_2024: 7218
sum_df2_2011_2024: 7218
factor: 1.0
Column: Ideal gas law
sum_df1_2011_2024: 5829
sum_df2_2011_2024: 5829
factor: 1.0
Column: Emirates Telecom
sum_df1_2011_2024: 5849
sum_df2_2011_2024: 6066
factor: 0.9642268381140785
Column: Pump
sum_df1_2011_2024: 11637
sum_df2_2011_2024: 11637
factor: 1.0
Column: Rice
sum_df1_2011_2024: 3468
sum_df2_2011_2024: 3468
factor: 1.0
Column: Code
sum_df1_2011_2024: 7995
sum_df2_2011_2024: 7995
factor: 1.0
Column: Petroleum
sum_df1_2011_2024: 4629
sum_df2_2011_2024: 4629
factor: 1.0
Column: used
sum_df1_2011_2024: 7219
sum_df2_2011_2024: 7219
factor: 1.0
Column: Globacom Limited
sum_df1_2011_2024: 9191
sum_df2_2011_2024: 9191
factor: 1.0
Column: Used good
sum_df1_2011_2024: 4088
sum_df2_2011_2024: 4088
factor: 1.0
Column: Textile
sum_df1_2011_2024: 8667
sum_df2_2011_2024: 8667
factor: 1.0
Column: Savings
sum_df1_2011_2024: 10625
sum_df2_2011_2024: 10625
factor: 1.0
Column: Electricity meter
sum_df1_2011_2024: 4226
sum_df2_2011_2024: 4226
factor: 1.0
Column: Data plan
sum_df1_2011_2024: 4673.5
sum_df2_2011_2024: 4673.5
factor: 1.0
Column: Oil
sum_df1_2011_2024: 10106
sum_df2_2011_2024: 10106
factor: 1.0
Column: Emergency
sum_df1_2011_2024: 2847
sum_df2_2011_2024: 2847
factor: 1.0
Column: Bharti Airtel
sum_df1_2011_2024: 9249
sum_df2_2011_2024: 9249
factor: 1.0
Column: Wealth
sum_df1_2011_2024: 4474
sum_df2_2011_2024: 4474
factor: 1.0
Column: Drill
sum_df1_2011_2024: 10569
sum_df2_2011_2024: 10569
factor: 1.0
Column: Rechargeable calling card
sum_df1_2011_2024: 7622
sum_df2_2011_2024: 7622
factor: 1.0
Column: Stove
sum_df1_2011_2024: 7035
sum_df2_2011_2024: 7035
factor: 1.0
Column: Dance
sum_df1_2011_2024: 8533
sum_df2_2011_2024: 8533
factor: 1.0
Column: Policy
sum_df1_2011_2024: 6593
sum_df2_2011_2024: 6593
factor: 1.0
Column: iPhone
sum_df1_2011_2024: 7299
sum_df2_2011_2024: 7299
factor: 1.0
Column: China
sum_df1_2011_2024: 6409
sum_df2_2011_2024: 6409
factor: 1.0
Column: Clothing
sum_df1_2011_2024: 10633
sum_df2_2011_2024: 10633
factor: 1.0
Column: Investment
sum_df1_2011_2024: 4653
sum_df2_2011_2024: 4653
factor: 1.0
Column: Economy
sum_df1_2011_2024: 6688
sum_df2_2011_2024: 6688
factor: 1.0
Column: Refurbishment
sum_df1_2011_2024: 7211
sum_df2_2011_2024: 7211
factor: 1.0
Column: Drinking water
sum_df1_2011_2024: 5477
sum_df2_2011_2024: 5477
factor: 1.0
Column: MTN Group
sum_df1_2011_2024: 9633
sum_df2_2011_2024: 9633
factor: 1.0
Column: Fried rice
sum_df1_2011_2024: 5889
sum_df2_2011_2024: 5889
factor: 1.0
Column: Food prices
sum_df1_2011_2024: 3223
sum_df2_2011_2024: 3223
factor: 1.0
Column: Cylinder
sum_df1_2011_2024: 5939
sum_df2_2011_2024: 5939
factor: 1.0
Column: Footwear
sum_df1_2011_2024: 10638
sum_df2_2011_2024: 10638
factor: 1.0
Column: Gas stove
sum_df1_2011_2024: 9254
sum_df2_2011_2024: 9254
factor: 1.0
Column: Inflation rate
sum_df1_2011_2024: 4934
sum_df2_2011_2024: 4934
factor: 1.0
Column: Car
sum_df1_2011_2024: 10398
sum_df2_2011_2024: 10398
factor: 1.0
Column: Health
sum_df1_2011_2024: 12157
sum_df2_2011_2024: 12157
factor: 1.0
Column: Jollof rice
sum_df1_2011_2024: 6401
sum_df2_2011_2024: 6401
factor: 1.0
Column: Water
sum_df1_2011_2024: 9574
sum_df2_2011_2024: 9574
factor: 1.0
Column: Emergency contraception
sum_df1_2011_2024: 6651
sum_df2_2011_2024: 6651
factor: 1.0
Column: Data
sum_df1_2011_2024: 10214
sum_df2_2011_2024: 10214
factor: 1.0
Column: Temperature
sum_df1_2011_2024: 7328
sum_df2_2011_2024: 7343
factor: 0.9979572381860276
Column: Outdoor recreation
sum_df1_2011_2024: 3490
sum_df2_2011_2024: 3490
factor: 1.0
Column: Diesel fuel
sum_df1_2011_2024: 8217
sum_df2_2011_2024: 8217
factor: 1.0
Column: Kitchen stove
sum_df1_2011_2024: 8149
sum_df2_2011_2024: 8149
factor: 1.0
Column: Charcoal
sum_df1_2011_2024: 8880
sum_df2_2011_2024: 8880
factor: 1.0
Column: Deflation
sum_df1_2011_2024: 2576
sum_df2_2011_2024: 2576
factor: 1.0
Column: Health education
sum_df1_2011_2024: 8917
sum_df2_2011_2024: 8917
factor: 1.0
Column: Liter
sum_df1_2011_2024: 6338
sum_df2_2011_2024: 6338
factor: 1.0
Column: Business
sum_df1_2011_2024: 7464.5
sum_df2_2011_2024: 7464.5
factor: 1.0
Column: Inflation
sum_df1_2011_2024: 7803
sum_df2_2011_2024: 7803
factor: 1.0
Column: Borehole
sum_df1_2011_2024: 6166
sum_df2_2011_2024: 6166
factor: 1.0
Column: Fuel
sum_df1_2011_2024: 862
sum_df2_2011_2024: 862
factor: 1.0
Column: Industry
sum_df1_2011_2024: 7469
sum_df2_2011_2024: 7469
factor: 1.0
Column: Health care
sum_df1_2011_2024: 10095
sum_df2_2011_2024: 10095
factor: 1.0
Column: Passport
sum_df1_2011_2024: 8047
sum_df2_2011_2024: 8047
factor: 1.0
Column: Tourism
sum_df1_2011_2024: 7103.0
sum_df2_2011_2024: 7103.0
factor: 1.0
Column: Immigration
sum_df1_2011_2024: 2028
sum_df2_2011_2024: 2028
factor: 1.0
Column: Sports betting
sum_df1_2011_2024: 3059
sum_df2_2011_2024: 3059
factor: 1.0
Column: State
sum_df1_2011_2024: 4966.5
sum_df2_2011_2024: 4966.5
factor: 1.0
Column: Abuja
sum_df1_2011_2024: 10683
sum_df2_2011_2024: 11292
factor: 0.946068012752391
Column: Gambling
sum_df1_2011_2024: 3249.5
sum_df2_2011_2024: 3249.5
factor: 1.0
Column: Do it yourself
sum_df1_2011_2024: 5759
sum_df2_2011_2024: 5759
factor: 1.0
Column: Fee
sum_df1_2011_2024: 9321
sum_df2_2011_2024: 9321
factor: 1.0
Column: Monetary policy
sum_df1_2011_2024: 5457
sum_df2_2011_2024: 5525
factor: 0.9876923076923076
Column: Infinix
sum_df1_2011_2024: 6753.0
sum_df2_2011_2024: 6753.0
factor: 1.0
Column: Cook
sum_df1_2011_2024: 2795
sum_df2_2011_2024: 2795
factor: 1.0
Column: Technology
sum_df1_2011_2024: 7986
sum_df2_2011_2024: 7949
factor: 1.004654673543842
Column: Electricity
sum_df1_2011_2024: 9320
sum_df2_2011_2024: 9320
factor: 1.0
Column: School
sum_df1_2011_2024: 10871
sum_df2_2011_2024: 10871
factor: 1.0
Column: Kerosene
sum_df1_2011_2024: 8215
sum_df2_2011_2024: 8215
factor: 1.0
Column: Samsung Galaxy
sum_df1_2011_2024: 8505
sum_df2_2011_2024: 8505
factor: 1.0
Column: Airplane
sum_df1_2011_2024: 1553
sum_df2_2011_2024: 1553
factor: 1.0
Column: University
sum_df1_2011_2024: 4799
sum_df2_2011_2024: 4799
factor: 1.0
Column: Goods
sum_df1_2011_2024: 9126
sum_df2_2011_2024: 9126
factor: 1.0
Column: Toyota
sum_df1_2011_2024: 10349
sum_df2_2011_2024: 10378
factor: 0.9972056272884949
Column: Food
sum_df1_2011_2024: 10194
sum_df2_2011_2024: 10194
factor: 1.0
Column: Rate
sum_df1_2011_2024: 5906
sum_df2_2011_2024: 5906
factor: 1.0
Column: Cost of living
sum_df1_2011_2024: 8762
sum_df2_2011_2024: 8762
factor: 1.0
Column: Samsung
sum_df1_2011_2024: 11382
sum_df2_2011_2024: 10949
factor: 1.0395469905927481
Column: cheap
sum_df1_2011_2024: 7637
sum_df2_2011_2024: 7637
factor: 1.0
Column: Health insurance
sum_df1_2011_2024: 3906
sum_df2_2011_2024: 3906
factor: 1.0
Column: Tuition payments
sum_df1_2011_2024: 5089
sum_df2_2011_2024: 4579
factor: 1.1113780301375846
Column: Shoes
sum_df1_2011_2024: 11689
sum_df2_2011_2024: 11689
factor: 1.0
Column: Budget
sum_df1_2011_2024: 4657.5
sum_df2_2011_2024: 4857.0
factor: 0.9589252625077208
Column: Mental health
sum_df1_2011_2024: 6401
sum_df2_2011_2024: 6401
factor: 1.0
Column: Soup
sum_df1_2011_2024: 8253
sum_df2_2011_2024: 8253
factor: 1.0
Column: Emergency telephone number
sum_df1_2011_2024: 4282
sum_df2_2011_2024: 4282
factor: 1.0